*{
    margin: center;
    outline: solid white 1px;
}

li{
    list-style-type: circle;
}

::placeholder{
    color: rgb(252 2 4);
}
.container{
    display: flex;
    flex-direction: column;
    height:1050px;
    width:1800px;
    background-image: url('img/pokego1.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-size: cover;
}

.top{
    display: flex;
    flex-direction: row;
    height:20%;
    width:100%;
}

.cent{
    display: flex;
    align-items: center;
    height: 100%;
    width:15%;
    
}

audio{
    background-color: transparent;
}

.lef{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:42%;
}

.lef h2{
    display: flex;
    margin-left: 150px;
    height: 20%;
    width: 50%;
    color: aliceblue;
}
.lef input{
    height:20%;
    width: 60%;
    background-color: transparent;
    color: rgb(76, 86, 148);
    font-size: 24px;
    text-align: center;
}

.lef button{
    height: 20%;
    width: 40%;
    background:transparent;
    color: rgb(76, 86, 148);
    font-size: 24px;
    border-radius: 10%;
}

.righ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 42%;
}
.righ h2{
    display: flex;
    margin-left: 80px;
    height: 20%;
    width: 50%;
    color: aliceblue;
}
.righ input{
    height:20%;
    width: 60%;
    background-color: transparent;
    color: rgb(76, 86, 148);
    font-size: 24px;
    text-align: center;
}

.righ button{
    height: 20%;
    width: 40%;
    background:transparent;
    color: rgb(76, 86, 148);
    font-size: 24px;
    border-radius: 10%;
}

/* middle Section-------------------------------------- */
.mid{
    display: flex;
    height:80%;
    width: 100%;
}

.left{
    display: flex;
    flex-direction: column;
    height: 67%;
    width: 25%;
}

.center{
    display: flex;
    flex-direction: column;
    height: 100%;
    width:50%
}

.top-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 25%;
}

.top-main input{
    display: flex;
    background-color: transparent;
    color: rgb(252 2 4);
    font-size: 24px;
    text-align: center;
    width: 50%;
}

.top-main button{
    background-color: transparent;
    width:50%;
    color: rgb(252 2 4);
    font-size: 24px;
}

.bot-main{
    display: flex;
    flex-direction: column;
    height:75%;
    width:100%;
    color: rgb(252 2 4);
    text-align: center;
}

.header{
    width: 100%;
    height:5%
}
.addinfo{
    display: flex;
    flex-direction: row ;
    width: 100%;
    height:95%;
}

.candys{
    height:90%;
    width:50%;
    margin-top: 35px;
    padding: 0px;
}

.moves{
    height:90%;
    width:50%;
    margin-top: 35px;
    font-size: 16px;
    font-weight: bold;
    padding: 0px;
}

.moves li{
    font-size: 18px;
    font-weight: bold;
}

#pokemonName{
    font-weight: bold;
    font-size: 22px;;
}

#att{
    font-weight: bold;
    font-size: 22px;
}

.rocketGuide{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 50%;
    width: 100%;
    color: rgb(252 2 4);
    font-size: 18px;
    overflow: scroll;
    overflow-x: hidden;
}

.right{
    display: flex;
    flex-direction: column;
    height: 67%;
    width: 25%;
}
/* middle section input------------------- */

.leftPokemon{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    color: rgb(239, 224, 20);
    text-align: center;
}

.rightPokemon{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    color: rgb(239, 224, 20);
    text-align: center;
}


@media screen and (max-width: 900px){
    .container{
        height:auto;
        width: auto;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: auto;
    }

    /* .top{
        flex-direction: row;
        height:20%;
        width: 100%;
    }

    .cent{
        height: 100%;
        width: 15%;
    }

    .lef{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 42%;
    }

    .lef h2{
        margin-left: 5%;
        height: 20%;
        width: 50%;
    }

    .lef input{
        height: 20%;
        width: 60%;
    } */

}